<html>
	<head>
		<title>ADiMa</title>
	</head>
	<body>
		{% if alert_message %}
			{{ message }}
		{% endif %}
		{% block title %}
		<h1>ADiMa</h1>
		{% endblock title %}
		
		{% block menu %}
		<ul>
			<li><a href={% url 'list contacts' %}>Contacts</a></li>
			<ul>
				<li><a href={% url 'list clients' %}>Clients</a></li>
				<li><a href={% url 'list resellers' %}>Revendeurs</a></li>
				<li><a href={% url 'list prospects' %}>Prospects</a></li>
			</ul>
			
			<li><a href={% url 'list bikes' %}>Vélos</a></li>
			<ul>
				<li><a href={% url 'list bike models' %}>Vélos</a></li>
				<li><a href={% url 'list bike brands' %}>Marques vélos</a></li>
				<li><a href={% url 'list bike models' %}>Modèles vélos</a></li>
				<li><a href={% url 'list bike versions' %}>Versions vélos</a></li>
			</ul>
			
			<li><a href={% url 'list batteries' %}>Batteries</a></li>
			<ul>
				<li><a href={% url 'list battery brands' %}>Marques batteries</a></li>
				<li><a href={% url 'list battery models' %}>Modèles batteries</a></li>
			</ul>
			
			<li><a href={% url 'list parts models' %}>Pièces détachées</a></li>
			<ul>
				<li><a href={% url 'list parts brands' %}>Marques pièces</a></li>
			</ul>
			
			<li>Inventaire</li>
			<ul>
				<li><a href={% url 'show inventory' "Velo" %}>Inventaire Vélos</a></li>
				<li><a href={% url 'show inventory' "Batterie" %}>Inventaire Batteries</a></li>
				<li><a href={% url 'show inventory' "PieceDetachee" %}>Inventaire Pieces Detachees</a></li>
			</ul>
		</ul>
		{% endblock menu %}
		
		{% block content %}
		
		{% endblock content %}
	</body>
</html>