{% extends "base.html" %}

{% block content %}
<table>
{% for item in items_list %}
	<tr>
		<td><a href={% url 'show inventory detail' object_name item.item.id %}>{{ item.item }}</a></td>
		<td>{{ item.quantity }}</td>
	</tr>
{% empty %}
	<tr>
		<td>Aucune entrée</td>
	</tr>
{% endfor %}
</table>
{% endblock content %}