{% extends "base.html" %}

{% block content %}
<table>
	<form method="post" action={% url 'show inventory detail' object_name item.id %}>
		{% csrf_token %}
		<input type="hidden" name="object_name" value={{object_name}} />
		<input type="hidden" name="item_id" value={{item.id}} />
		{{form.as_table}}
		<tr><td><input type="submit" /></td></tr>
	</form>
	<tr>
		<td>Stock total</td>
		<td>{{total_quantity}}</td>
	</tr>
</table>
<table>
{% for entry in inventory_entries %}
	<tr>
		<td>{{ entry.date }}</td>
		<td>{%if entry.entree%}ENTREE{%else%}SORTIE{%endif%}</td>
		<td>{{ entry.quantite }}</td>
	</tr>
{% empty %}
	<tr>
		<td>Aucune donnée pour l'objet</td>
	</tr>
{% endfor %}
</table>
{% endblock content %}