{% extends "base.html" %}

{% block content %}
<table>
{% for battery in batteries_list %}
	<tr>
		<td><a href="{% url 'show battery' battery.id %}">{{ battery }}</a></td>
	</tr>
{% empty %}
	<tr>
		<td>Aucune entrée trouvée</td>
	</tr>
{% endfor %}
	<tr>
		<td><a href="{% url 'create battery' %}">Creer batterie</a></td>
	</tr>
</table>
{% endblock content %}