{% extends "base.html" %}

{% block content %}
<table>
{% for bike in bikes_list %}
	<tr>
		<td><a href="{% url 'show bike' bike.id %}">{{ bike }}</a></td>
	</tr>
{% empty %}
	<tr>
		<td>Aucune entrée trouvée</td>
	</tr>
{% endfor %}
	<tr>
		<td><a href="{% url 'create bike' %}">Creer vélo</a></td>
	</tr>
</table>
{% endblock content %}