{% extends "base.html" %}

{% block content %}
<table>
{% for model in models_list %}
	<tr>
		<td><a href="{% url link_show model.id %}">{{ model }}</a></td>
	</tr>
{% empty %}
	<tr>
		<td>Aucune donnée pour ce type</td>
	</tr>
{% endfor %}
	<tr>
		<td><a href="{% url link_create %}">Creer modèle de {{type}}</a></td>
	</tr>
</table>
{% endblock content %}