{% extends "base.html" %}

{% block content %}
<table>
{% if brands_list %}
	{% for brand in brands_list %}
		<tr>
			<td><a href="{% url link_show brand.id %}">{{ brand.nom_marque }}</a></td>
		</tr>
	{% endfor %}
{% else %}
	<tr>
		<td>Aucune marque trouvée</td>
	</tr>
{% endif %}
	<tr>
		<td><a href="{% url link_create %}">Creer marque</a></td>
	</tr>
</table>
{% endblock content %}