{% extends "base.html" %}

{% block content %}
<table>
{% for version in versions_list %}
	<tr>
		<td><a href="{% url 'show bike version' version.id %}">{{ version }}</a></td>
	</tr>
{% empty %}
	<tr>
		<td>Aucune entrée trouvée</td>
	</tr>
{% endfor %}
	<tr>
		<td><a href="{% url 'create bike version' %}">Creer version vélo</a></td>
	</tr>
</table>
{% endblock content %}