{% extends "base.html" %}

{% block content %}
<table>
{% if entry_list %}
	{% for entry in entry_list %}
		<tr>
			<td><a href="{% url link_show entry.id %}">{{ entry.contact.nom }} {{ entry.contact.prenom }}</a></td>
		</tr>
	{% endfor %}
{% else %}
	<tr>
		<td>Aucun {{type}} trouve</td>
	</tr>
{% endif %}
	<tr>
		<td><a href="{% url link_create %}">Creer {{type}}</a></td>
	</tr>
</table>
{% endblock content %}