{% extends "base.html" %}

{% block content %}
<table>
{% if contacts_list %}
	{% for contact in contacts_list %}
		<tr>
			<td><a href="{% url 'show contact' contact.id %}">{{ contact.nom }} {{ contact.prenom }}</a></td>
		</tr>
	{% endfor %}
{% else %}
	<tr><td>Aucun contact trouve</td></tr>
{% endif %}
	<tr>
		<td><a href="{% url 'create contact' %}">Creer contact</a></td>
	</tr>
</table>
{% endblock content %}