{% extends "base.html" %}

{% block content %}
	{% block form_tag %}
<form action="{% url link_show_brand brand.id %}" method="post">
	{% endblock form_tag %}
	{% csrf_token %}
	{{ brandform }}
	<input type="submit" value="Valider" />
</form>

<ul>
	{% for product in products %}
		<li><a href="{% url link_show_product product.id %}">{{product.nom}}</a></li>
	{% endfor %}
</ul>

{% endblock content %}