{% extends "base.html" %}

{% block content %}
	{% block form_tag %}
<form action="{% url 'show battery model' model.id %}" method="post">
	{% endblock form_tag %}
	{% csrf_token %}
	{{ model_form }}
	<input type="submit" value="Valider" />
</form>

{% block related_entries %}
<ul>
	{% for product in products %}
		<li><a href="{% url 'show battery version' version.id %}">{{product.num_serie_batterie}}</a></li>
	{% endfor %}
</ul>
{% endblock related_entries %}

{% endblock content %}