{% extends "base.html" %}

{% block content %}
	{% block form_tag %}
<form action="{% url 'show parts model' model.id %}" method="post">
	{% endblock form_tag %}
	{% csrf_token %}
	{{ model_form }}
	<input type="submit" value="Valider" />
</form>

{% block related_entries %}
<ul>
	{% for version in versions %}
		<li><a href="{% url 'show parts version' version.id %}">{{version.designation}}</a></li>
	{% endfor %}
</ul>
{% endblock related_entries %}

{% endblock content %}