{% extends "base.html" %}

{% block content %}
	{% block form_tag %}
<form action="{% url 'show contact' contact.id %}" method="post">
	{% endblock form_tag %}
	{% csrf_token %}
	<table>
	{{ contactform.as_table }}
	</table>

{% block contact_attributes %}
	{% if is_client %}
		<p><a href="{% url 'show client contact' contact.id %}">Est client</a></p>
	{% else %}
		<p><a href="{% url 'create client' contact.id %}">N'est pas client</a></p>
	{% endif %}
	
	{% if is_reseller %}
		<p><a href="{% url 'show reseller contact' contact.id %}">Est revendeur</a></p>
	{% else %}
		<p><a href="{% url 'create reseller' contact.id %}">N'est pas revendeur</a></p>
	{% endif %}
	
	{% if is_prospect %}
		<p><a href="{% url 'show prospect contact' contact.id %}">Est prospect</a></p>
	{% else %}
		<p><a href="{% url 'create prospect' contact.id %}">N'est pas prospect</a></p>
	{% endif %}
{% endblock contact_attributes %}
	<input type="submit" value="Valider" />
</form>
{% endblock content %}